

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>SisWeb CRIA</ion-card-subtitle>
        <ion-card-title>Sistema Web do Projeto CRIA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Projeto Cadeira de Rodas Infantil Automatizada</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Login no Sistema:</ion-label>
        </ion-list-header>
        <ion-item>
            <div class="ion-padding">
                <ion-button expand="block" type="submit" class="ion-no-margin" (click)="goLogin()">Login de Usuário</ion-button>
            </div>
        </ion-item>

        <ion-list-header>
            <ion-label>Fazendo o cadastro e login, o usuário concorda com os Termos de Uso da UNIFESP.</ion-label>
        </ion-list-header>
        <ion-item href="https://www.unifesp.br/termos-de-uso">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Termos de Uso - UNIFESP</ion-label>
        </ion-item>
        <ion-list-header>
          <ion-label>Clique abaixo para cadastrar-se como um novo usuário.</ion-label>
      </ion-list-header>
        <ion-item>
            <div class="ion-padding">
                <ion-button expand="block" type="submit" class="ion-no-margin" (click)="addUsuario()">Novo Usuário</ion-button>
            </div>
        </ion-item>

        <ion-list-header>
            <ion-label>Se tiver alguma dúvida ou problemas com cadastro ou login, clique abaixo.</ion-label>
        </ion-list-header>
        <ion-item href="https://www.unifesp.br/campus/sjc/fale-conosco.html">
            <ion-icon slot="start" color="medium" name="text"></ion-icon>
            <ion-label>Fale conosco</ion-label>
        </ion-item>

    </ion-list>
</ion-content>

